In [6]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.2.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 916 kB/s eta 0:00:01K     |████████████████████████████████| 2.0 MB 916 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn!=0.22.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from lightgbm) (0.23.1)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from lightgbm) (1.18.5)
Requirement already satisfied: scipy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from lightgbm) (1.5.0)
Requirement already satisfied: wheel in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from lightgbm) (0.34.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from scikit-learn!=0.22.0->lightgbm) (0.16.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.2.1

In [7]:
import pandas as pd
import lightgbm

In [8]:
#Load Data
df = pd.read_csv('/project_data/data_asset/Customer Retail Data.csv')
df.head()

,CustomerID,Birth_Date,Age,Sex,Customer_Years,Product_Group,Total_Store Visits,Marketing_Channel,Marital Status,Children,Payment,Region,Area,Revenue_Total,Mean_Purchase_Amount,Highest_Articel_Revenue,Coupon A
0,001300000082xer,1979-06-21,120.0,f,15,Middle Price Segment,144,Letter,single,1,Apple Pay,South,Country,NaN,84.65,139.00,No_Response
1,0013000000830UR,1956-12-11,51.0,f,12,Good and cheap,381,Letter,Married,1,Cash,South,Country,12000.0,NaN,199.00,No_Response
2,001300000082yh3,1992-08-31,63.0,f,8,Sales,190,Letter,NaN,1,Credit Card,North,City,13200.0,5.99,169.99,No_Response
3,00130000008300v,1982-06-27,135.0,m,15,Upper Price Segment,138,Email,single,0,Credit Card,North,City,21000.0,20.20,5.99,Response
4,0013000000834Bs,1986-01-07,37.0,m,15,Upper Price Segment,67,Email,single,1,Credit Card,North,Country,13500.0,20.20,69.00,No_Response